.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}



@media only screen and (width: 768px){
  .main, .othernav, .HeroImage,
  .vIcon, .middle, .chart, .footer{
    display: none;
  }

}

@media only screen and (max-width: 414px){
  body{
    background-color: papayawhip;
  }
  .HeroImage,
  .vIcon, .middle, .chart, .footer{
    display: none;
  }

  .nav img{
    width: 60px;
    height: 30px;
  }
  .othernav{
    margin-top: 80px;
    margin-left: 9%;
  }
  .othernav button{
    width: 80px;
    height: 25px;
    font-size: 9px;
    margin-left: 38%;
  }

  .main{
    height: 600px;
  }


}


@media only screen and (width:375px){
  .main, .othernav, .HeroImage,
  .vIcon, .middle, .chart, .footer{
    display: none;
  }
}