.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}



/*@media only screen and (width: 768px){
  .main, .othernav, .HeroImage,
  .vIcon, .middle, .chart, .footer{
    display: none;
  }
}
*/
@media only screen and (max-width: 414px){
  .nav img{
    width: 60px;
    height: 30px;
  }
  .othernav{
    margin-top: 16%;
    margin-left: 9%;
  }
  .othernav button{
    width: 80px;
    height: 25px;
    font-size: 9px;
    margin-left: 38%;
  }
  .main{
    height: 600px;
  }

  .vIcon img{
    width: 7%;
    height: 37px;
    margin-top: -98%;
    margin-left: -10%;
  }
  .vIcon p{
    margin-top: -98%;
    margin-left: 0%;
    font-size: 24px;
  }
  .vIcon .biLine{
    margin-top: -88%;
    margin-left: -26%;
    font-size: 14px;
  }
  .vIcon button{
    width: 80px;
    height: 25px;
    font-size: 9px;
    margin-top: -80%;
    margin-left: 3%;
  }

  .HeroImage img{
    width: 75%;
    height: 250px;
    margin-top: -65%;
    margin-left: -25%;
  }

  .middle .heading{
    width: 80%;
    font-size: 18px;
    margin-left: 10%;
  }

  .middle{
    height: 950px;
  }
  .section1 .title{
    margin-left: 10%;
  }
  .section1 .bio{
    margin-left: 10%;
  }
  .section1 .best{
    margin-left: 10%;
    margin-top: 70%;
  }
  .section1 .list{
    margin-left: 10%;
    margin-top: 78%;
  }
  .section1 button{
    margin-top: 82%;
    width: 80px;
    height: 25px;
    font-size: 9px;
  }

  .section2 .title{
    margin-left: -57.5%;
    margin-top: 120%;
  }
  .section2 .bio{
    margin-left: -57.5%;
    margin-top: 129%;
  }
  .section2 .best{
    margin-left: -57.5%;
    margin-top: 154%;
  }
  .section2 .list{
    margin-left: -57.5%;
    margin-top: 162.5%;
  }
  .section2 button{
    margin-left: -5%;
    margin-top: 510%;
    width: 80px;
    height: 25px;
    font-size: 9px;
  }

  .section3 .title{
    margin-left: -128%;
    margin-top: 125%;
  }
  .section3 .bio{
    margin-left: -128%;
    margin-top: 134%;
  }
  .section3 .best{
    margin-left: -128%;
    margin-top: 160%;
  }
  .section3 .list{
    margin-left: -128%;
    margin-top: 169%;
  }
  .section3 button{    
    margin-top: 710px;
    margin-left: -297px;
    width: 80px;
    height: 25px;
    font-size: 9px;
  }

  .chart1 img{
    width: 90%;
    height: 300px;
    margin-left: 5%;
    margin-top: 5%;
  }
  .chart1 .heading{
    margin-left: 10%;
    margin-top: 0%;
  }
  .chart1 .para{
    margin-left: 10%;
    margin-top: 10%;
    width: 80%;
  }

  .chart2 img{
    width: 90%;
    height: 300px;
    margin-left: 0%;
    margin-top: 65%;
  }
  .chart2 .heading{
    margin-left: 10%;
    margin-top: 5%;
  }
  .chart2 .para{
    margin-left: 10%;
    margin-top: 15%;
    width: 80%;
  }

  .footer{
    height: 40px;
    margin-top: 85%;
  }
  .footer .first{
    margin-left: 5%;
    font-size: 8px;
  }
  .footer .side{
    display: none;
  }

}


@media only screen and (width:375px){
  .main, .othernav, .HeroImage,
  .vIcon, .middle, .chart, .footer{
    display: none;
  }
}