.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}



/*@media only screen and (width: 768px){
  .main, .othernav, .HeroImage,
  .vIcon, .middle, .chart, .footer{
    display: none;
  }
}
*/
@media only screen and (max-width: 414px){
  body{
    background-color: papayawhip;
  }
  .middle, .chart, .footer{
    display: none;
  }

  .nav img{
    width: 60px;
    height: 30px;
  }
  .othernav{
    margin-top: 16%;
    margin-left: 9%;
  }
  .othernav button{
    width: 80px;
    height: 25px;
    font-size: 9px;
    margin-left: 38%;
  }
  .main{
    height: 600px;
  }

  .vIcon img{
    width: 7%;
    height: 37px;
    margin-top: -98%;
    margin-left: -10%;
  }
  .vIcon p{
    margin-top: -98%;
    margin-left: 0%;
    font-size: 24px;
  }
  .vIcon .biLine{
    margin-top: -88%;
    margin-left: -26%;
    font-size: 14px;
  }
  .vIcon button{
    width: 80px;
    height: 25px;
    font-size: 9px;
    margin-top: -80%;
    margin-left: 3%;
  }

  .HeroImage img{
    width: 75%;
    height: 250px;
    margin-top: -65%;
    margin-left: -25%;
  }

}


@media only screen and (width:375px){
  .main, .othernav, .HeroImage,
  .vIcon, .middle, .chart, .footer{
    display: none;
  }
}